.el-tree {
    color: #000000 !important;
}

.el-tree-node__content {
    font-size: 12px;
    height: 20px;
}

.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
    background-color: #409EFF !important;
    color: #fff !important;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

.header {
    background-color: #409EFF;
    line-height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

.center {
    width: 100%;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 350px;
    box-sizing:border-box;
}

.center_main {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.center_main_left {
    width: 350px;
    margin-left: -350px;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid #B3C0D1;
}

.center_main_right {
    height: 100%;
    overflow-y: auto;
}

.center_main_right_num {
    font-size: 14px;
    padding-left: 10px;
    color: red;
}

.center_main_right_article {
    border-bottom: darkgray 1px dashed;
    padding: 10px 10px 5px 10px;
}

.center_main_right_article_title {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-decoration:none;
}

.center_main_right_article_title:hover {
    color: #409EFF;
}

.center_main_right_article_date {
    margin-top: 10px;
    margin-left: 20px;
    color: #777777;
    font-size: 10px;
}

.footer {
    background-color: #B3C0D1;
    text-align: right;
    font-size: 14px;
    line-height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
}
